body{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fcfbfb;
    font-size: 22px;
    font-family:Arial, 'Times New Roman', Times, serif;
    margin: 0;
    padding:0;
}
header{
    background-color: rgba(20,30,13, .7);
    font-family: 'Arial', Times, serif;
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
}
.icon{
    width: 80 px;
    padding-top: 10px;
}
.home-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color:royalblue;
    margin-top: 10px;  
}
nav a{
    text-decoration: none;
    text-align: center;
    color:black;
    padding: 35px;
}
nav a:hover{
    background-color: royalblue;
    color:black
}
#hero img {
    width: 100%;

}
.book, .join{
    text-decoration: none;
    background-color: yellow;
    font-size: 18px;
    color:black;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: black;
    color:lightblue;
}
h1, h4{
    text-align: center;
    color: royalblue
}
.button-box{
    text-align: center;
}

main section {
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background{
    background-color: rgb(236, 236, 113);
    height: 725px;
    margin-bottom: 80px;
}
.mountains{
    margin-bottom: 200px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px;
}
.card-img{
    border: 10px solid black;
}
h2 {
    margin:0
}
.msg {
    background-color: lightblue;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    background-color: lightblue;

}
.msg p{
    background-color: lightblue;
    font-size: .8em;
    color: black;
    padding-bottom: 15px;  
}
footer {
    background-color: rgb(236, 236, 113);
    padding: 25px 50px;
    margin-top: 200px;
}
footer p{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}
footer a{
    text-decoration: none;
    color: black
}
footer a:hover{
    text-decoration: underline;
    color:royalblue
}
footer .social img{
    padding-top: 15px
}