body{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fcfbfb;
}
header{
    background-color: rgba(20,30,13, .7);

}
.logo{
    width: 80px;
}

.home-title{
    color:black
}
nav a{
    text-decoration: none;
    text-align: center;
    background-color: white;
    color:black

    
    
}
nav a:hover{
    background-color: rgb(205, 70, 178);
    color:black
    

}
.book, .join{
    text-decoration: none;
    background-color: white;
    color:black
    
}
.book:hover, .join:hover{
    background-color: yellow;
    color:black
}
.footprint{
    width: 80px;
}
h1, h4{
    text-align: center;
    color: royalblue
}
.button-box{
    text-align: center;
}

main section {
    text-align: center;
}

.msg h2{
    background-color: lightblue;
}
.msg p{
    background-color: lightblue;
    color: black
}
footer {
    background-color: rgb(236, 236, 113);
}
footer p{
    font-size: 1.2em;
    
}
footer a{
    text-decoration: none;
    color: black
    
}
footer a:hover{
    text-decoration: underline;
    color:royalblue
}