 body{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fcfbfb;
}
header{
    background-color: #003249;

} 
.logo{
    width: 80px;
}

.home-title{
    color:black
}
nav a{
    text-decoration: none;
    text-align: center;
    background-color:#003249;
    color:white
    
}
.footprintsclass{
    align-items: center;
    
}
.footprints {
    width: 400px;
    align-self: center;
}

nav a:hover{ 
    background-color: #A43312 ;
    color:#E7C24F ;
    

}
.book, .join{
    text-decoration: none;
    color:#003249
    
}
.book:hover, .join:hover{

    color:#E7C24F;
}
.activites{
    align-items: center;
}
.horse{
    width: 400px;
}

h1, h4{
    text-align: center;
    color: #A43312
}
.button-box{
    text-align: center;
}

main section {
    text-align: center;
}

.msg h2{
    background-color: #A43312;
    color: #E7C24F
}
.msg p{
    background-color: #003249;
    color: white
}
footer {
    background-color: #A43312;
}
footer p{
    font-size: 1.2em;
    color:#E7C24F;
    
}
footer a{
    text-decoration: none;
    color: #E7C24F
    
}
footer a:hover{
    text-decoration: underline;
    color:#003249
}